{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<form action='{{ path ('app_home') }}' method="post">
    <h3 for="search">Recherche : </h3>
    <div class="input">
        <input name="movie" type="text">
    </div>
    <button type="submit" class="btn btn-outline-secondary">Rechercher</button>
    <button type="button" class="btn btn-outline-secondary">J'ai de la chance</button>
</form>

<div class="example-wrapper">
<br>
<ul>
<div class="container text-center">
    <div class="row align-items-start">
{% for movie in movieList %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src='https://www.themoviedb.org/t/p/w220_and_h330_face/{{movie.poster_path}}' class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{movie.overview}}</p>
                    <button type='button' class"btn btn-primary"> Fiche du film </button>
                </div>
            </div>
        </div>
{% endfor %}
    </div>
</div>
</ul>
</div>
{% endblock %}
